<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to my Application</h1>

      <a href="{{ url_for('predict') }}">
        <button>Make Predictions</button>
      </a>
    </div>

    {% if results %}
    <div class="result-box">
      <h2>🔥 Prediction: {{ results }}</h2>
    </div>
    {% endif %}
  </body>
</html>
